{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h5 class="text-center">Actualiza tus datos</h5>
<div class="row justify-content-center">
    <div class="col-3">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ form.password.label }}
            {{ form.password(class_='form-control') }}
            <input type="submit" class="btn btn-primary mt-2">
        </form>
    </div>
</div>

{% endblock %}